<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <!--We always use the latest version of the framework installed on the computer. If you
are having problems then explicitly specify .NET 2.0 by uncommenting the following line.-->
    <!--<supportedRuntime version="v4.0.30319"/>-->

  </startup>
  <!--All assemblies in AutoCAD are fully trusted so there's no point generating publisher evidence-->
  <runtime>
    <generatePublisherEvidence enabled="false"/>
  </runtime>
</configuration>
